<div class="m">
    <form class="border border-light border3 m-5 p-5 col-md-4">
        <!-- <img src="/src/assets/m.png"/> -->
        <label for="exampleInputEmail1" class="form-label" style="font-size:x-large;"> Name : </label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">write your name</div>
        <br>
        <a href="#" routerLink="/quiz">
            <button type="submit" class="btn btn-primary">Start test</button></a>
    </form>
</div>